<h1> <%= @game.player1.name %> vs. <%= @game.player2.name %></h1>
<h2><%= @game.player2.name %> has <%= @game.player2.hitpoints %>HP</h2>

<form action="/attack" method="POST">
<input type="text" name='value'>
<button name="attack_player_2" type="submit">Attack <%= @game.player2.name %>!</button>
</form>
