<h1> <%= @player1%> vs. <%=@player2 %></h1>
<h2><%= @player2 %> has <%= @player2_HP %>HP</h2>

<form action="/attack" method="POST">
<button name="attack_player_2" type="submit">Attack <%= @player2 %>!</button>
</form>
